<!DOCTYPE html>
<html ng-app="intercityApp">
<head>
    <title>First Test</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">INTERCITY - MANIFEST ENTRY</a>
    </div>

    <div ng-controller="ManifestController as vm">
        <button>{{vm.name}}</button>
    </div>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/manifest.controller.js"></script>
</body>
</html>